// #RRGGBB or #RRGGBBAA work.
// You can omit or keep the hashtag.
#background = "#000000"
background = "#00B140"
foreground_inactive = "#696969"
foreground_active = "#90D5FF"
text_inactive = "#c40000"
text_active = "#c40001"

// Window size, in pixels.
width = 1080
height = 540

// Optional. Only needed for displaying text.
// Will try to find a fallback if unspecified but needed.
#font = "Monospace:size=24"
font = "DejaVu Sans Mono:size=12"

// If a key is pressed for fewer milliseconds than `time_threshold`, it will be
// shown for `threshold_life` milliseconds with text saying how long it was
// pressed for.
//
// These values are optional, but you must set both if you want to use them.

#Other Values (So I can see the Key press Times)
time_threshold = 1000
threshold_life = 500

#Default Values  (So I can see the Keys Forever)
#time_threshold = 30
#threshold_life = 10


// The list of keys/elements to display.
// x, y, w, and h specify the bounds of the rectangle.
// scancode is the scancode of the key to listen for.
//   Use wev: https://git.sr.ht/~sircmpwn/wev
//
// If time_threshold (a value in milliseconds) is specified and the key is
// pressed for shorter than the threshold, an indicator will pop up in its place
// showing how long it was pressed for.


#Razer Tartarus Pro

#+42 Diff
keys = (
    #TOP ROW
    #{
    #    #Number (1)
    #    x = 10, y  = 10, w = 40, h = 40,
    #    scancode = 10
    #},
    #{
    #    #Number (2)
    #    x = 52, y  = 10, w = 40, h = 40,
    #    scancode = 11
    #},
    #{
    #    #Number (3)
    #    x = 94, y = 10, w = 40, h = 40,
    #    scancode = 12,
    #},
    #{
    #    #Number (4)
    #    x = 136, y = 10, w = 40, h = 40,
    #    scancode = 13,
    #},
    #{
    #    #Number (5)
    #    x = 178, y = 10, w = 40, h = 40,
    #    scancode = 14,
    #},

    #Second Row
    {
        #Key (TAB)
        x = 10, y  = 52, w = 40, h = 40,
        scancode = 23
    },
    {
        #Letter (Q)
        x = 52, y  = 52, w = 40, h = 40,
        scancode = 24
    },
    {
        #Letter (W)
        x = 94, y = 52, w = 40, h = 40,
        scancode = 25,
    },
    {
        #Letter (E)
        x = 136, y = 52, w = 40, h = 40,
        scancode = 26,
    },
    {
        #Letter (R)
        x = 178, y = 52, w = 40, h = 40,
        scancode = 27,
    },

    #Third Row
    {
        #Key (CAPS LOCK)
        x = 10, y = 94, w = 40, h = 40,
        scancode = 66,
    },

    {
        #Letter (A)
        x = 52, y = 94, w = 40, h = 40,
        scancode = 38,
    },
    {
        #Letter (S)
        x = 94, y = 94, w = 40, h = 40,
        scancode = 39
    },
    {
        #Letter (D)
        x = 136, y = 94, w = 40, h = 40,
        scancode = 40
    },
    {
        #Letter (F)
        x = 178, y = 94, w = 40, h = 40,
        scancode = 41
    },

    #Forth Row
    {
        #Key (SHIFT)
        x = 10, y = 136, w = 40, h = 40,
        scancode = 50,
    },
    {
        #Letter (Z)
        x = 52, y = 136, w = 40, h = 40,
        scancode = 52
    },
    {
        #Letter (X)
        x = 94, y = 136, w = 40, h = 40,
        scancode = 53
    },
    {
        #Letter (C)
        x = 136, y = 136, w = 40, h = 40,
        scancode = 54
    },

    #Side TOP Button
    {
        #Key (Space Bar)
        x = 100, y = 178, w = 120, h = 40,
        scancode = 65
    },

    #Generic Mouse
    {
        #Mouse Click (LEFT)
        x = 700, y = 94, w = 40, h = 80,
        scancode = 272,
    },
    {
        #Mouse Click (RIGHT)
        x = 750, y = 94, w = 40, h = 80,
        scancode = 273,
    },

    #Razer Naga Trinity

    #First Level
    {
        #Side Mouse Button (1)
        x = 800, y = 10, w = 40, h = 40,
        scancode = 10,
    },
    {
        #Side Mouse Button (2)
        x = 842, y = 10, w = 40, h = 40,
        scancode = 11,
    },
    {
        #Side Mouse Button (3)
        x = 884, y = 10, w = 40, h = 40,
        scancode = 12,
    },
    #Second Level
    {
        #Side Mouse Button (4)
        x = 800, y = 52, w = 40, h = 40,
        scancode = 13,
    },
    {
        #Side Mouse Button (5)
        x = 842, y = 52, w = 40, h = 40,
        scancode = 14,
    },
    {
        #Side Mouse Button (6)
        x = 884, y = 52, w = 40, h = 40,
        scancode = 15,
    },
    #Third Level
    {
        #Side Mouse Button (7)
        x = 800, y = 94, w = 40, h = 40,
        scancode = 16,
    },
    {
        #Side Mouse Button (8)
        x = 842, y = 94, w = 40, h = 40,
        scancode = 17,
    },
    {
        #Side Mouse Button (9)
        x = 884, y = 94, w = 40, h = 40,
        scancode = 18,
    },
    #Fourth Level
    {
        #Side Mouse Button 10 (0)
        x = 800, y = 136, w = 40, h = 40,
        scancode = 19,
    },
    {
        #Side Mouse Button 11 (-)
        x = 842, y = 136, w = 40, h = 40,
        scancode = 20,
    },
    {
        #Side Mouse Button 12 (=)
        x = 884, y = 136, w = 40, h = 40,
        scancode = 21,
    },


)
